<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateProcessServlet</display-name>
    <servlet-name>CreateProcessServlet</servlet-name>
    <servlet-class>servlet.CreateProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProcessServlet</servlet-name>
    <url-pattern>/CreateProcessServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.ContextInit</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ResetTimeServlet</display-name>
    <servlet-name>ResetTimeServlet</servlet-name>
    <servlet-class>servlet.ResetTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetTimeServlet</servlet-name>
    <url-pattern>/ResetTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UndoProcessServlet</display-name>
    <servlet-name>UndoProcessServlet</servlet-name>
    <servlet-class>servlet.UndoProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UndoProcessServlet</servlet-name>
    <url-pattern>/UndoProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOverServlet</display-name>
    <servlet-name>CheckOverServlet</servlet-name>
    <servlet-class>servlet.CheckOverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOverServlet</servlet-name>
    <url-pattern>/CheckOverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExecutingServlet</display-name>
    <servlet-name>GetExecutingServlet</servlet-name>
    <servlet-class>servlet.GetExecutingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExecutingServlet</servlet-name>
    <url-pattern>/GetExecutingServlet</url-pattern>
  </servlet-mapping>
</web-app>
